In [7]:
import streamlit as st
import pandas as pd

df = pd.read_excel('./data/prueba.xlsx', index_col='Codigo')

In [ ]:
df.to_csv('./data/prueba.csv')

In [8]:
codigo = 101
ser = df.loc[codigo]
ser

Nombre     Raul Jimenez
Cedula    001-1234567-1
Entro               NaN
Name: 101, dtype: object

In [13]:
df.loc[codigo, 'Entro'] = True
df

                  Nombre         Cedula Entro
Codigo
101         Raul Jimenez  001-1234567-1  True
102     Michael Todemann  001-1234567-2   NaN
103           Milan Lora  001-1234567-3  True